<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{ title }}</title>
        <link href="static/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
    </head>
    <body class="bg-gradient-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-4 d-none d-lg-flex align-items-center justify-content-center flex-column">
                                    <img
                                        src="https://www.danielebanco.com.br/assets/images/icons/Trustee-02.png"
                                        alt="Login"
                                        class="img-fluid mb-3"
                                        style="width: 70%;">
                                </div>
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Bem Vindo</h1>
                                        </div>
                                        <form id="formLogin">
                                            <div class="form-group">
                                                <label for="UserName">Username</label>
                                                <input class="form-control" id="UserName" name="UserName" type="text" placeholder="Username" required="required"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="Password">Senha</label>
                                                <input class="form-control" id="Password" name="Password" type="password" required="required" placeholder="Senha">
                                            </div>
                                            <button type="button" class="btn btn-primary" onclick="vwLogin()">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/static/js/sb-admin-2.min.js"></script>
        <script src="/static/js/jquery-3.7.1.slim.min.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/js/siad.js"></script>
        <script src="/static/js/js.cookie.min.js"></script>
        <script src="/static/js/validate-0.13.1.min.js"></script>
        <script src="/static/js/axios-1.6.8.min.js"></script>
        <script src="/static/js/crypto-js-4.2.0.min.js"></script>
        <script src="../apps/login/view/vwLogin.js"></script>
    </body>
</html>
<script>
    window.onload = function () {
        localStorage.clear();
        Cookies.remove('isLogged');
        Cookies.remove('tempoInativoMaximoFront');
        $("#UserName").focus();
    };
    const constraints = {{ constraint | safe }};
    function Validar(formDataPar) {
        let formDataObject = {};
        for (let [key, value] of formDataPar.entries()) {
            formDataObject[key] = value;
        }
        const errors = validate(formDataObject, constraints, {format: "detailed"});
        if (errors) {
            const errorMessages = Object.values(errors).flat();
            alert("O campo " + errorMessages[0]["attribute"] + " " + errorMessages[0]["options"].message);
            const idFocus = "#" + errorMessages[0]["attribute"]
            $(idFocus).focus();
            return false;
        }
        return true;
    }
</script>